
.flex{
    display: flex;
    justify-content: center;
}

body {
   background-color: rgb(255, 255, 255);
}

.fundo {
   padding: 50;
   margin: 20;
   background-color: rgb(255, 250, 201);

}

.pink {
   padding: 100;
   margin: 20;
   background-color: rgb(255, 190, 235);
}

.rose {
    padding-right: 340;
    background-color: blue;
}

.pinki {
    padding-bottom: 340;
    background-color: rgb(14, 207, 233);
}

.pinku {
    padding-bottom: 340;
    background-color: rgb(43, 226, 52);
}